<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BManager</title>
</head>
<html>
<body>
    <div style="font-family: 'Open Sans', sans-serif; font-family: 14px; line-height: 1.8; color: #3f264d; max-width: 700px; margin-right: auto; margin-left: auto; border-color: #4A1375; border-width: 1px; border-style: solid;">

        <div style="display: block;text-align: center;background-color: #3f264d; padding-top: 7px; padding-bottom: 3px;">
            <span style="color: #fff">Chat API</span>
        </div>

        <div style="display: block;text-align: center;padding: 20px 70px;">
            <h1 style="font-weight: 800;font-size: 24px;line-height: 120%;text-align: center;color: #3f264d;">
                Redefinição de senha
            </h1>
            <p style="font-style: normal;font-weight: normal;font-size: 24px;line-height: 160%;text-align: center;color: #3f264d;">
                Olá [[NAME]] :-)
            </p>
            <p style="font-style: normal;font-weight: normal;font-size: 16px;line-height: 160%;text-align: center;color: #3f264d;">
                Recebemos uma solicitação para que sua senha fosse redefinida, Segue abaixo a nova senha.
            </p>

            <div
               style="font-style: normal;font-weight: bold;font-size: 23px;text-decoration: none;color: #FFFFFF;">
                <div style="text-align: center;color: #FFFFFF;background: #3f264d;border-style: 1px solid  #3f264d;border-radius: 4px;text-decoration: none;padding: 10px 30px;">
                    [[PASS]]
                </div>
            </a>
            <br />
        </div>

        <div style="margin-top:20px;text-align: center;display: block;align-items: center;justify-content: center;background-color: #F1F2F2; padding: 20px 10px;">
            <p style="font-family: 'Open Sans', sans-serif; font-family: 14px;font-style: normal;font-weight: normal;font-size: 23px;line-height: 31px;text-align: center;letter-spacing: 0.01em;color: #3f264d;
                ">
                Ficou com alguma dúvida? <a style="text-decoration: underline;color: #3f264d" href="mailto:andre_luiz.b5@outlook.com">
                    Fale com a
                    gente.
                </a>
            </p>
            <span>Equipe de suporte Chat API</span>
        </div>

    </div>
</body>

</html>